body {
  font-family: Verdana;
  font-size: 1rem;
}

#header {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
}

#content {
  margin: auto;
  padding: 1rem;
}

#drop-area {
  border: 2px dashed #ccc;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem;
}

#arena {
  font-size: 2rem;
  display: flex;
  line-height: 1rem;
}

#nav {
  display: flex;
}

.button:disabled {
  font-color: #AAAAAA;

}
.button {
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #EEEEEE;
  flex: 1;
}

.button:hover {
  background-color: #AAAAAA;
}


.fighter {
  flex: 1;
}

.fighter-vote-button {
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #EEEEEE;
  cursor: pointer
}

.fighter-vote-button:hover {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #AAAAAA;
  cursor: pointer
}

.fighter-text {
  padding: 1rem;
  margin: 0.5rem;
  border: thick solid #000000
}
#signboard {
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 3rem;
  font-family: Consolas, monospace;
}
#participant-list {
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
}
