body {
  font-family: Verdana;
  font-size: 1rem;
  background-color: #161612;
  color: #aa9374;
}

.header {
  font-size: 3rem;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  color: #bc8a34;
}

.content {
  margin: auto;
  padding: 1rem;
}

.drop_area {
  border: 2px dashed #aa9374;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0.5rem;
}

.arena {
  font-size: 2rem;
  display: flex;
  line-height: 2.5rem;
}

.nav {
  display: flex;
}

.nav_button:disabled {
  pointer-events: none;
  background-color: #aaaaaa;
  color: #bbbbbb;
}

.nav_button {
  background-color: #AAAA44;
  border: none;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  flex: 1;
  color: #000000;
}


.nav_button:hover {
  background-color: #6B8E23;
}


.fighter {
  flex: 1;
}

.fighter_vote_button {
  background-color: #AAAA44;
  color: #000;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer
}

.fighter_vote_button:hover {
  background-color: #6B8E23;
}

.fighter_text {
  padding: 1rem;
  margin: 0.5rem;
  border: thick solid #888
}

.signboard {
  color: #a26ca2;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 2.5rem;
}
.participant_list {
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
}
